@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #DA874F;
}

nav {
    background-color: #EDDEDA;
}

.btn {
    background-color: #ED7D31;
    color: #fff;
    width: 223px;
    height: 80px;
    border-radius: 18px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
}

#hero{
    background-color: #ED7D31;
}

.bg-hero {
    margin-top: 20px;
    width: 100%;
    border-radius: 19px;
}

#video {
    background-color: #DA874F;
}

.foto1{
    background-color: #fff;
    width: 484px;
    height: 314px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    border-radius: 19px;
}

.bg-header {
    width: 484px;
    height: 310px;
    padding: 5px 5px 5px 5px;
    border-radius: 19px;
}

.muri-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.trailler {
    padding: 5px 5px 5px 5px;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    height: 94px;
    width: 354px;
    
}
.mainkan{
    font-family: "Poppins", sans-serif;
    padding: 5px 5px 5px 5px;
}